@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* * {
    transition: background-color 1s ease-in;
} */

.body {
    background-color: black;
}

.ls {
    color: var(--light-shade);
}
.la {
    color: var(--light-accent);
}
.mb {
    color: var(--main-brand);
}
.da {
    color: var(--dark-accent);
}
.ds {
    color: var(--dark-shade);
}

.bls {
    background-color: var(--light-shade);
}
.bla {
    background-color: var(--light-accent);
}
.bmb {
    background-color: var(--main-brand);
}
.bda {
    background-color: var(--dark-accent);
}
.bds {
    background-color: var(--dark-shade);
}

.fsm {
    font-size: 32pt;
}

.fsl {
    font-size: 48pt;
}

.fss {
    font-size: 16pt;
}

.fsam {
    font-size: 3vh;
}

.fsal {
    font-size: 4vh;
}

.fsas {
    font-size: 2vh;
}

.App {
    font-family: 'Montserrat', sans-serif;
}
.App > p {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 24px;
}

#homeDiv {
    width: 100vw;
    height: 500vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6,100vh);
}

#headlineDiv {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 60vh 40vh;
}

#headlineDiv p{
    margin-top: 20vh;
}

#colorPreview {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right, var(--dark-shade), var(--light-shade));
    margin-bottom: 10px;
}

#colorPreview > div {
    width: 15vw;
    margin: 10px auto 10px auto;
    border-radius: 16px;
}

#blurbDiv1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blurbDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.applePhone {
    font-family: Helvetica, Arial, sans-serif;
    border: 5px solid var(--dark-accent);
    border-radius: 16px;
    background-color: #F7F7FA;
}

.applePhone header {
    display: grid;
    border-radius: 14px 13px 0 0;
    background-color: #FFFFFF;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.appleBackButtonDiv {
    display: flex;
    align-items: center;
}

.appleBackChevron {
    height: 5vh;
    width: 5vh;
    margin-left: -10px;
    margin-right: -10px;
    mask-image: url("assets/rect10.png");
    mask-size: 35%;
    mask-repeat: no-repeat;
    mask-position: center;
}

.appleTitle {
    margin: auto;
}


.appleForm {
    display: flex;
    flex-direction: column;
    margin: 10px 10vw;
    padding: 10px;
    border-radius: 16px;
}

.appleForm input {
    border: none;
    background-color: white;
    padding: 10px 10px 5px 10px;
    margin: 5px 0;
}

.appleForm::placeholder {
    color: white;
}