@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* * {
    transition: background-color 1s ease-in;
} */

body {
    background-color: var(--dark-shade);
    color: rgba(255,255,255,.8);
    font-family: 'Montserrat', sans-serif;
}

span {
    color: var(--light-shade);
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
    margin: 0 auto;
    list-style-type: none;
    background-color: var(--light-shade);
    color: var(--dark-shade);
}

a {
    color: inherit;
    text-decoration-line: none;
}